<div
  class="w-full h-[90vh] flex justify-center items-center flex-col bg-white p-4"
>
  <h1>Create new functionality for project</h1>
  <form class="w-[350px]" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label>Name</label>
        <input
          class="border border-black p-2 rounded-md"
          placeholder="Type functionality name here"
          formControlName="name"
        />
      </div>

      <div class="flex flex-col">
        <label>Description</label>
        <input
          class="border border-black p-2 rounded-md"
          placeholder="Type functionality description here"
          formControlName="description"
        />
      </div>
      <div class="flex flex-col">
        <label>Priority</label>
        <select name="priority" formControlName="priority">
          <option *ngFor="let option of priorityOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="flex flex-col">
        <label>Assign to</label>
        <select name="userId" formControlName="userId">
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.firstName }} {{ user.lastName }}
          </option>
        </select>
      </div>
    </div>
    <button
      [disabled]="!form.valid"
      class="border border-black p-1 mt-4 rounded-md bg-black text-white hover:bg-white hover:text-black w-full"
      type="submit"
    >
      Create
    </button>
  </form>
</div>
